.gold{
  padding: 40px 0;

}
.gold__title{
  text-align: center;
  h2{
    color: #000000;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px dotted #86c8c0;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 18px;
    span{
      color: #fe2f2f;
    }
  }
}
.gold__text{
  p{
    color: #000000;
    font-family: "Open Sans",sans-serif;
    font-size: 11px;
    font-weight: 400;
  }
}
.gold__p{
  margin-top: 20px;
  @media (max-width: 768px) {
    margin-top: 15px;
  }
}
.gold__none{
  @media (max-width: 768px) {
    display: none;
  }
}