.vkcoments{
  h2{
    text-align: center;
    color: #000000;
    font-family: "Elektra Text Pro",sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 50px;
  }
}